{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    {% csrf_token %}
    <header>
        <h1>Dash</h1>
        <a href="/auth/logout/" class="btn btn-danger">Logout</a>
    </header>
    <div id="filtro-base">
        <input type="date" id="data_ini" name="data_ini" value="{{ data_ini }}">
        <input type="date" id="data_fim" name="data_fim" value="{{ data_fim }}">
        <button onclick="updateAllGraphs()">Atualizar</button>
    </div>
    <div class="row">
        <div class="col">
            <div id="graph1"></div>
        </div>
        <div class="col">
            <div id="graph2"></div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script src="{% static 'dash/js/script.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>